# Exploring data about Belrin Restaurants and the respected Reviews

In [1]:
# Import libraries and packages
import numpy as np
import pandas as pd
import sys, os
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.append(project_root)

# Machine Learning and Plotting
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.pyplot as plt

# Library to handle JSON files
import json
import requests 

# Import libraries and packages
import numpy as np
import pandas as pd

# Machine Learning and Plotting
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.pyplot as plt

# Library to handle JSON files
import json
import requests 

# NOT IN THE DEPENDENCIES RN!! 

# Maps visualization:
# import folium
# Address to geographical data:
#from geopy.geocoders import Nominatim

# Web Scraping and Reading HTML files
from bs4 import BeautifulSoup

# Used with lists
import itertools

# To add delay between quries
import time

# To Ignore Warnings
import warnings
warnings.filterwarnings("ignore")

print("IMPORT STATUS:\t DONE.")

IMPORT STATUS:	 DONE.

## 1. Exploring berlin_reviews_2 csv dataset

In [5]:
berlin_reviews_2 = pd.read_csv('../data/raw/berlin_reviews_2.csv')

In [6]:
berlin_reviews_2

,title,url,cuisines,reviews,star rating,page number,data offset,restaurant,dates
0,1. Focaccino,https://www.tripadvisor.in/Restaurant_Review-g...,"Italian, Sicilian","[""The atmosphere is very classy yet cozy. The ...",4.5 of 5 bubbles,0,0,1,"['13 November 2023', '23 September 2023', '28 ..."
1,2. Cafe Couscous - Vege,https://www.tripadvisor.in/Restaurant_Review-g...,"Healthy, Mediterranean","[""The best wraps in Berlin period. I suggest g...",5.0 of 5 bubbles,0,0,2,"['25 October 2023', '10 August 2023', '9 June ..."
2,3. Hackethals,https://www.tripadvisor.in/Restaurant_Review-g...,"German, Bar",['I found this place on TripAdvisor and wanted...,4.5 of 5 bubbles,0,0,3,"['8 November 2023', '4 November 2023', '4 Nove..."
3,4. Restaurant Buschbeck's,https://www.tripadvisor.in/Restaurant_Review-g...,"German, European","[""As my wife is a coeliac I had to research pl...",5.0 of 5 bubbles,0,0,4,"['24 October 2023', '1 October 2023', '15 Augu..."
4,5. 100 Gramm Bar,https://www.tripadvisor.in/Restaurant_Review-g...,"Bar, Eastern European","['This place is amaizing! I loved the vibe, th...",5.0 of 5 bubbles,0,0,5,"['23 August 2023', '23 August 2023', '21 April..."
...,...,...,...,...,...,...,...,...,...
5785,6356. Bao Club,https://www.tripadvisor.in/Restaurant_Review-g...,"Chinese, Asian",NaN,NaN,211,6330,6356,NaN
5786,6357. Wurstkessel im KaDeWe,https://www.tripadvisor.in/Restaurant_Review-g...,"French, International",NaN,NaN,211,6330,6357,NaN
5787,6358. World of Champagne (Champagne Bar),https://www.tripadvisor.in/Restaurant_Review-g...,"French, Bar",NaN,NaN,211,6330,6358,NaN
5788,6359. Chibo,https://www.tripadvisor.in/Restaurant_Review-g...,NaN,NaN,NaN,211,6330,6359,NaN
5789,6360. Steckenpferd,https://www.tripadvisor.in/Restaurant_Review-g...,NaN,NaN,NaN,211,6330,6360,NaN

### Is it useable tho?
This Dataset has been updated 6 months ago! 
But seems like the reviews are still from late 2023 or older! 
Lets check if that's true!

In [7]:
# convert each stringified list of date strings into actual datetime objects
import ast

# First tunring stringified lists to ACTUAL lists:
berlin_reviews_2["dates"] = berlin_reviews_2["dates"].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) and x.startswith("[") else x
)

In [8]:
# Now getting lazy and using my preprocessing methods to turn lists of strings to list of dates
from src.preprocessing import add_date_features
berlin_reviews_2 = add_date_features(berlin_reviews_2, date_column="dates")

In [9]:
berlin_reviews_2["dates_parsed"].iloc[0]

[Timestamp('2023-11-13 00:00:00'),
 Timestamp('2023-09-23 00:00:00'),
 Timestamp('2023-08-28 00:00:00'),
 Timestamp('2023-08-11 00:00:00'),
 Timestamp('2023-08-08 00:00:00'),
 Timestamp('2023-08-01 00:00:00'),
 Timestamp('2023-07-01 00:00:00'),
 Timestamp('2023-06-10 00:00:00'),
 Timestamp('2023-05-14 00:00:00'),
 Timestamp('2023-05-10 00:00:00'),
 Timestamp('2023-04-11 00:00:00'),
 Timestamp('2023-01-31 00:00:00'),
 Timestamp('2023-01-13 00:00:00'),
 Timestamp('2022-12-28 00:00:00'),
 Timestamp('2022-12-04 00:00:00'),
 Timestamp('2022-06-22 00:00:00'),
 Timestamp('2022-05-16 00:00:00'),
 Timestamp('2022-05-11 00:00:00'),
 Timestamp('2022-02-10 00:00:00'),
 Timestamp('2022-02-09 00:00:00'),
 Timestamp('2021-08-11 00:00:00'),
 Timestamp('2020-09-03 00:00:00'),
 Timestamp('2020-07-24 00:00:00'),
 Timestamp('2020-01-03 00:00:00'),
 Timestamp('2019-12-26 00:00:00'),
 Timestamp('2019-10-09 00:00:00'),
 Timestamp('2019-10-01 00:00:00'),
 Timestamp('2019-09-28 00:00:00'),
 Timestamp('2019-06-14 00:00:00'),
 Timestamp('2019-05-03 00:00:00'),
 Timestamp('2019-04-15 00:00:00'),
 Timestamp('2019-04-15 00:00:00'),
 Timestamp('2019-03-28 00:00:00'),
 Timestamp('2019-03-18 00:00:00'),
 Timestamp('2019-03-13 00:00:00'),
 Timestamp('2018-12-05 00:00:00'),
 Timestamp('2018-11-22 00:00:00'),
 Timestamp('2018-11-21 00:00:00'),
 Timestamp('2018-10-27 00:00:00'),
 Timestamp('2018-10-26 00:00:00'),
 Timestamp('2018-10-23 00:00:00'),
 Timestamp('2018-10-23 00:00:00'),
 Timestamp('2018-10-23 00:00:00'),
 Timestamp('2018-10-05 00:00:00'),
 Timestamp('2018-09-24 00:00:00'),
 Timestamp('2018-09-05 00:00:00'),
 Timestamp('2018-09-04 00:00:00'),
 Timestamp('2018-09-04 00:00:00'),
 Timestamp('2018-08-21 00:00:00'),
 Timestamp('2018-08-13 00:00:00'),
 Timestamp('2018-07-04 00:00:00'),
 Timestamp('2018-06-12 00:00:00'),
 Timestamp('2018-06-04 00:00:00'),
 Timestamp('2018-05-19 00:00:00'),
 Timestamp('2018-05-19 00:00:00'),
 Timestamp('2018-05-18 00:00:00'),
 Timestamp('2018-05-09 00:00:00'),
 Timestamp('2018-05-03 00:00:00'),
 Timestamp('2018-05-02 00:00:00'),
 Timestamp('2018-05-02 00:00:00'),
 Timestamp('2018-05-01 00:00:00'),
 Timestamp('2018-05-01 00:00:00'),
 Timestamp('2018-04-30 00:00:00'),
 Timestamp('2018-03-15 00:00:00'),
 Timestamp('2018-03-11 00:00:00'),
 Timestamp('2018-03-03 00:00:00'),
 Timestamp('2018-01-22 00:00:00'),
 Timestamp('2018-01-22 00:00:00'),
 Timestamp('2018-01-15 00:00:00'),
 Timestamp('2017-12-19 00:00:00'),
 Timestamp('2017-12-14 00:00:00'),
 Timestamp('2017-12-06 00:00:00'),
 Timestamp('2017-11-19 00:00:00'),
 Timestamp('2017-11-17 00:00:00'),
 Timestamp('2017-11-12 00:00:00'),
 Timestamp('2017-10-22 00:00:00'),
 Timestamp('2017-10-21 00:00:00'),
 Timestamp('2017-10-06 00:00:00'),
 Timestamp('2017-09-27 00:00:00'),
 Timestamp('2017-08-28 00:00:00'),
 Timestamp('2017-08-23 00:00:00'),
 Timestamp('2017-08-13 00:00:00'),
 Timestamp('2017-06-18 00:00:00'),
 Timestamp('2017-06-07 00:00:00'),
 Timestamp('2017-05-18 00:00:00'),
 Timestamp('2017-05-08 00:00:00'),
 Timestamp('2017-04-23 00:00:00'),
 Timestamp('2017-04-23 00:00:00'),
 Timestamp('2017-04-15 00:00:00'),
 Timestamp('2017-04-14 00:00:00'),
 Timestamp('2017-04-12 00:00:00'),
 Timestamp('2017-04-11 00:00:00'),
 Timestamp('2017-04-09 00:00:00'),
 Timestamp('2017-04-03 00:00:00'),
 Timestamp('2017-03-29 00:00:00'),
 Timestamp('2017-03-23 00:00:00'),
 Timestamp('2017-03-08 00:00:00'),
 Timestamp('2017-02-21 00:00:00'),
 Timestamp('2017-02-19 00:00:00'),
 Timestamp('2017-02-15 00:00:00'),
 Timestamp('2017-01-28 00:00:00'),
 Timestamp('2017-01-25 00:00:00'),
 Timestamp('2017-01-22 00:00:00'),
 Timestamp('2017-01-19 00:00:00'),
 Timestamp('2017-01-09 00:00:00'),
 Timestamp('2016-12-20 00:00:00'),
 Timestamp('2016-12-13 00:00:00'),
 Timestamp('2016-12-11 00:00:00'),
 Timestamp('2016-12-05 00:00:00'),
 Timestamp('2016-12-01 00:00:00'),
 Timestamp('2016-11-22 00:00:00'),
 Timestamp('2016-11-18 00:00:00'),
 Timestamp('2016-11-16 00:00:00'),
 Timestamp('2016-11-12 00:00:00'),
 Timestamp('2016-11-02 00:00:00'),
 Timestamp('2016-11-01 00:00:00'),
 Timestamp('2016-10-29 00:00:00'),
 Timestamp('2016-10-27 00:00:00'),
 Timestamp('2016-10-23 00:00:00'),
 Timestamp('2016-10-22 00:00:00'),
 Timestamp('2016-10-20 00:00:00'),
 Timestamp('2016-10-07 00:00:00'),
 Timestamp('2016-09-29 00:00:00'),
 Timestamp('2016-09-28 00:00:00'),
 Timestamp('2016-09-22 00:00:00'),
 Timestamp('2016-09-13 00:00:00'),
 Timestamp('2016-08-11 00:00:00'),
 Timestamp('2016-07-29 00:00:00'),
 Timestamp('2016-07-28 00:00:00'),
 Timestamp('2016-07-25 00:00:00'),
 Timestamp('2016-07-25 00:00:00'),
 Timestamp('2016-07-22 00:00:00'),
 Timestamp('2016-07-21 00:00:00'),
 Timestamp('2016-07-21 00:00:00'),
 Timestamp('2016-07-20 00:00:00'),
 Timestamp('2016-07-20 00:00:00'),
 Timestamp('2016-07-18 00:00:00'),
 Timestamp('2016-07-15 00:00:00'),
 Timestamp('2016-07-14 00:00:00'),
 Timestamp('2016-07-13 00:00:00'),
 Timestamp('2016-07-11 00:00:00'),
 Timestamp('2016-07-02 00:00:00'),
 Timestamp('2016-06-28 00:00:00'),
 Timestamp('2016-06-26 00:00:00'),
 Timestamp('2016-06-21 00:00:00'),
 Timestamp('2016-06-15 00:00:00'),
 Timestamp('2016-05-29 00:00:00'),
 Timestamp('2016-05-29 00:00:00'),
 Timestamp('2016-05-25 00:00:00'),
 Timestamp('2016-05-24 00:00:00'),
 Timestamp('2016-05-23 00:00:00'),
 Timestamp('2016-05-22 00:00:00'),
 Timestamp('2016-05-21 00:00:00'),
 Timestamp('2016-05-18 00:00:00'),
 Timestamp('2016-05-18 00:00:00'),
 Timestamp('2016-05-17 00:00:00'),
 Timestamp('2016-04-29 00:00:00'),
 Timestamp('2016-04-27 00:00:00'),
 Timestamp('2016-04-26 00:00:00'),
 Timestamp('2016-03-30 00:00:00'),
 Timestamp('2016-03-27 00:00:00'),
 Timestamp('2016-03-06 00:00:00'),
 Timestamp('2016-03-05 00:00:00'),
 Timestamp('2016-02-17 00:00:00'),
 Timestamp('2016-02-09 00:00:00'),
 Timestamp('2015-11-07 00:00:00'),
 Timestamp('2015-10-30 00:00:00'),
 Timestamp('2015-10-29 00:00:00'),
 Timestamp('2015-10-19 00:00:00'),
 Timestamp('2015-10-13 00:00:00'),
 Timestamp('2015-10-13 00:00:00'),
 Timestamp('2015-10-10 00:00:00'),
 Timestamp('2015-10-08 00:00:00'),
 Timestamp('2015-09-30 00:00:00'),
 Timestamp('2015-09-29 00:00:00'),
 Timestamp('2015-09-22 00:00:00'),
 Timestamp('2015-09-20 00:00:00'),
 Timestamp('2015-09-16 00:00:00'),
 Timestamp('2015-09-13 00:00:00'),
 Timestamp('2015-09-12 00:00:00'),
 Timestamp('2015-09-11 00:00:00'),
 Timestamp('2015-09-06 00:00:00'),
 Timestamp('2015-08-31 00:00:00'),
 Timestamp('2015-08-24 00:00:00'),
 Timestamp('2015-08-22 00:00:00'),
 Timestamp('2015-08-20 00:00:00'),
 Timestamp('2015-08-19 00:00:00'),
 Timestamp('2015-08-15 00:00:00'),
 Timestamp('2015-08-13 00:00:00'),
 Timestamp('2015-07-19 00:00:00'),
 Timestamp('2015-07-14 00:00:00'),
 Timestamp('2015-07-04 00:00:00'),
 Timestamp('2015-06-15 00:00:00'),
 Timestamp('2015-06-10 00:00:00'),
 Timestamp('2015-05-25 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-03-27 00:00:00'),
 Timestamp('2015-03-21 00:00:00'),
 Timestamp('2015-03-05 00:00:00'),
 Timestamp('2015-02-28 00:00:00'),
 Timestamp('2015-02-25 00:00:00'),
 Timestamp('2015-02-22 00:00:00'),
 Timestamp('2015-02-11 00:00:00'),
 Timestamp('2015-01-30 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-09-29 00:00:00'),
 Timestamp('2014-09-26 00:00:00'),
 Timestamp('2014-09-10 00:00:00'),
 Timestamp('2014-06-23 00:00:00'),
 Timestamp('2013-12-12 00:00:00'),
 Timestamp('2013-10-11 00:00:00'),
 Timestamp('2013-07-30 00:00:00'),
 Timestamp('2012-07-12 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2012-02-13 00:00:00'),
 Timestamp('2012-01-14 00:00:00'),
 Timestamp('2011-08-19 00:00:00'),
 Timestamp('2023-11-13 00:00:00'),
 Timestamp('2023-09-23 00:00:00'),
 Timestamp('2023-08-28 00:00:00'),
 Timestamp('2023-08-11 00:00:00'),
 Timestamp('2023-08-08 00:00:00'),
 Timestamp('2023-08-01 00:00:00'),
 Timestamp('2023-07-01 00:00:00'),
 Timestamp('2023-06-10 00:00:00'),
 Timestamp('2023-05-14 00:00:00'),
 Timestamp('2023-05-10 00:00:00'),
 Timestamp('2023-04-11 00:00:00'),
 Timestamp('2023-01-31 00:00:00'),
 Timestamp('2023-01-13 00:00:00'),
 Timestamp('2022-12-28 00:00:00'),
 Timestamp('2022-12-04 00:00:00')]

Look above, weird behavior is noticed.. the first dates match the last dates... looks like some dates repeated... why?!
Let's check some other rows!

In [10]:
berlin_reviews_2["dates_parsed"].iloc[1]

[Timestamp('2023-10-25 00:00:00'),
 Timestamp('2023-08-10 00:00:00'),
 Timestamp('2023-06-09 00:00:00'),
 Timestamp('2023-04-18 00:00:00'),
 Timestamp('2023-03-12 00:00:00'),
 Timestamp('2023-02-10 00:00:00'),
 Timestamp('2023-02-07 00:00:00'),
 Timestamp('2023-01-21 00:00:00'),
 Timestamp('2023-01-06 00:00:00'),
 Timestamp('2022-12-10 00:00:00'),
 Timestamp('2022-09-14 00:00:00'),
 Timestamp('2022-06-16 00:00:00'),
 Timestamp('2022-06-03 00:00:00'),
 Timestamp('2022-03-04 00:00:00'),
 Timestamp('2021-06-24 00:00:00'),
 Timestamp('2021-04-17 00:00:00'),
 Timestamp('2020-07-31 00:00:00'),
 Timestamp('2019-12-21 00:00:00'),
 Timestamp('2019-08-21 00:00:00'),
 Timestamp('2019-08-20 00:00:00'),
 Timestamp('2019-08-14 00:00:00'),
 Timestamp('2019-07-04 00:00:00'),
 Timestamp('2019-06-14 00:00:00'),
 Timestamp('2019-06-13 00:00:00'),
 Timestamp('2019-06-07 00:00:00'),
 Timestamp('2019-06-04 00:00:00'),
 Timestamp('2019-06-01 00:00:00'),
 Timestamp('2019-05-24 00:00:00'),
 Timestamp('2019-05-11 00:00:00'),
 Timestamp('2019-01-31 00:00:00'),
 Timestamp('2019-01-08 00:00:00'),
 Timestamp('2018-12-05 00:00:00'),
 Timestamp('2018-11-29 00:00:00'),
 Timestamp('2018-11-16 00:00:00'),
 Timestamp('2018-11-09 00:00:00'),
 Timestamp('2018-11-09 00:00:00'),
 Timestamp('2018-10-24 00:00:00'),
 Timestamp('2018-10-24 00:00:00'),
 Timestamp('2018-10-18 00:00:00'),
 Timestamp('2018-10-15 00:00:00'),
 Timestamp('2018-08-25 00:00:00'),
 Timestamp('2018-07-25 00:00:00'),
 Timestamp('2018-04-07 00:00:00'),
 Timestamp('2017-07-15 00:00:00'),
 Timestamp('2016-09-05 00:00:00'),
 Timestamp('2016-05-29 00:00:00'),
 Timestamp('2016-03-06 00:00:00'),
 Timestamp('2023-10-25 00:00:00'),
 Timestamp('2023-08-10 00:00:00'),
 Timestamp('2023-06-09 00:00:00'),
 Timestamp('2023-04-18 00:00:00'),
 Timestamp('2023-03-12 00:00:00'),
 Timestamp('2023-02-10 00:00:00'),
 Timestamp('2023-02-07 00:00:00'),
 Timestamp('2023-01-21 00:00:00'),
 Timestamp('2023-01-06 00:00:00'),
 Timestamp('2022-12-10 00:00:00'),
 Timestamp('2022-09-14 00:00:00'),
 Timestamp('2022-06-16 00:00:00'),
 Timestamp('2022-06-03 00:00:00'),
 Timestamp('2022-03-04 00:00:00'),
 Timestamp('2021-06-24 00:00:00')]

AGAIN!! We have EXACTLY 15 first dates matching the 15 last dates... that's a problem! Have i caused it? or the dataset has been like that since the beginning??

In [11]:
# i check some random rows, to see if the exact 15 dates match, then i check the review! if the reviews are the same... then we need cleaning!!
random_row = np.random.randint(0, 5000)
print('index nr =', random_row)
print(berlin_reviews_2["dates_parsed"].iloc[random_row])

index nr = 3532
[Timestamp('2018-08-08 00:00:00'), Timestamp('2015-09-13 00:00:00'), Timestamp('2015-08-04 00:00:00'), Timestamp('2015-06-25 00:00:00'), Timestamp('2015-04-20 00:00:00'), Timestamp('2012-09-23 00:00:00'), Timestamp('2018-08-08 00:00:00'), Timestamp('2015-09-13 00:00:00'), Timestamp('2015-08-04 00:00:00'), Timestamp('2015-06-25 00:00:00'), Timestamp('2015-04-20 00:00:00'), Timestamp('2012-09-23 00:00:00')]

Some useful insights from the above algorythm:

index nr = 4205

[Timestamp('2023-09-27 00:00:00'), Timestamp('2023-09-27 00:00:00')]

index nr = 2227

['3 June 2023', '30 December 2019', '15 August 2019', '1 June 2019', '6 May 2019', '3 June 2023', '30 December 2019', '15 August 2019', '1 June 2019', '6 May 2019']

index nr = 4675

['28 May 2023', '28 May 2023']


So now we have another challenge, when the nr of reviews and therefore the date of reviews are less than 15 in tottal!! 
### ACTION: Cleaning later needed!
### Cleaning 1: Done [ ]  or  Due [ ]
DO THIS: when less than 15 review dates, clean the last half! EZ PZ!!

In [12]:
# Now back to extracting earliest and latest review to see if the dataset is up to date as kaggle shows:
berlin_reviews_2[["earliest_date", "latest_date"]].head()

  earliest_date latest_date
0    2011-08-19  2023-11-13
1    2016-03-06  2023-10-25
2    2008-01-19  2023-11-08
3    2017-05-08  2023-10-24
4    2019-05-07  2023-08-23

In [13]:
print(berlin_reviews_2["earliest_date"].min())
print(berlin_reviews_2["latest_date"].max())

2007-11-01 00:00:00
2023-11-20 00:00:00

### Summary of Dataset berlin_reviews_2:
**1st Summary:**
The author has updated this dataset 6 months ago on Kaggle, but still the last review goes back to 2023.
In all honesty, just exploring random data on this data set, i could tell the latest reviews are mostly from 2023 and then 2022 and so on. so it def is not too old to maneuver with! But a more updated dataset is appreciated. Off the next dataset now!

Newest Review:2023-11-20

Oldest Review: 2007-11-01

## 2. Foursquare API for berlin venues:

In [10]:
# @hidden_cell

CLIENT_ID = 'HIE5ISYEZQEQPNSVGQGRWCJMXA43OC3MBRHICDU01GF1P0EA' # your Foursquare ID
CLIENT_SECRET = 'DK3E0ME2RXUUXAOX54VSSULBVYBUJWUD4BRVAQIJMV2ZIG54' # your Foursquare Secret
VERSION = '20190701' # Foursquare API version

In [11]:
# Returns a DataFrame with Venue details
def getNearbyVenues(names, latitudes, longitudes, radius, LIMIT):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [12]:
# Returns a DataFrame with top venues based on a threshold
def return_top_venues(row, maximum_venues):
    
    # Select all except neighbourhood column
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0: maximum_venues]

In [13]:
'''
# Try to fetch Berlin Venues data
try:
    Berlin_venues = getNearbyVenues(Berlin_neighbourhoods['Neighbourhood'],
                                        Berlin_neighbourhoods['Latitude'],
                                        Berlin_neighbourhoods['Longitude'],
                                        radius=2000,
                                        LIMIT=100)
except:
    print('Error fetching data, could be caused by exceeding Forsquare maximum calls/ day.')

# View the DataFrame
Berlin_venues.head()
'''
# 1. Initialize the variable outside the try block
Berlin_venues = None

# 2. Try to fetch Berlin Venues data
try:
    Berlin_venues = getNearbyVenues(Berlin_neighbourhoods['Neighbourhood'],
                                    Berlin_neighbourhoods['Latitude'],
                                    Berlin_neighbourhoods['Longitude'],
                                    radius=2000,
                                    LIMIT=100)
except Exception as e: # Catch the specific exception for better debugging
    print('Error fetching data, could be caused by exceeding Foursquare maximum calls/ day.')
    # print(f"Details: {e}") # Uncomment to see the actual error details

# 3. View the DataFrame ONLY IF it was successfully created
if Berlin_venues is not None:
    Berlin_venues.head()
else:
    print("Cannot view data: Berlin_venues DataFrame was not successfully created.")

Error fetching data, could be caused by exceeding Foursquare maximum calls/ day.
Cannot view data: Berlin_venues DataFrame was not successfully created.

In [14]:
# 1. Initialize the variable outside the try block
Berlin_venues = None

# 2. Slice the DataFrame to use only the first 5 neighborhoods
sample_neighbourhoods = Berlin_neighbourhoods.head(5)

print(f"âœ… Attempting to fetch venues for the first {len(sample_neighbourhoods)} neighborhoods...")

# 3. Try to fetch Berlin Venues data using the smaller sample
try:
    Berlin_venues = getNearbyVenues(sample_neighbourhoods['Neighbourhood'],
                                    sample_neighbourhoods['Latitude'],
                                    sample_neighbourhoods['Longitude'],
                                    radius=2000,
                                    LIMIT=100)
except Exception as e:
    print('âŒ Error fetching data, could be caused by exceeding Foursquare maximum calls/ day or an issue with the API keys.')
    # print(f"Details: {e}") # Uncomment to see the actual error details

# 4. View the DataFrame ONLY IF it was successfully created
if Berlin_venues is not None:
    print("\nðŸŽ‰ Success! Displaying the first 5 rows of the fetched data:")
    Berlin_venues.head()
else:
    print("\nâš ï¸ Cannot view data: Berlin_venues DataFrame was not successfully created.")

NameError: name 'Berlin_neighbourhoods' is not defined

In [15]:
# Get HTML file of Berlin Neighbourhoods
Berlin_neighbourhoods_html = requests.get('https://en.wikipedia.org/wiki/Boroughs_and_neighborhoods_of_Berlin').text
page = BeautifulSoup(Berlin_neighbourhoods_html, 'lxml')

# Check Webpage Title
print('1. Webpage Title: \n----------------------\n{} \n \n'.format(page.title.text))

# Find the first table in the webpage
table = page.find('table')

# Create a DataFrame for Boroughs in Berlin
Berlin_boroughs = pd.DataFrame()

# Assign the retrived table to a list
data_list = pd.read_html(str(table))

# Copy retrived data to the Berlin_boroughs DataFrame
Berlin_boroughs = data_list[0]

# Rename Columns and drop the Map column
Berlin_boroughs.drop(['Map'], axis =1, inplace=True)
Berlin_boroughs.columns = ['Boroughs', 'Population', 'Area', 'Density']

print('2. DataFrame Shape:\n----------------------\n', Berlin_boroughs.shape,'\n \n')
Berlin_boroughs

FeatureNotFound: Couldn't find a tree builder with the features you requested: lxml. Do you need to install a parser library?

### **For NOW** i hold it with this FSQ data source! 
### It is more useful for geografical insights than reviews!
But i have found some other veryy verryyy intersting data sources for super advanced data insights.

These are as followed:

https://kepler.gl/

https://deck.gl/

https://opensource.foursquare.com/os-places/

## 3. yelp: https://www.youtube.com/watch?v=mn6aj3JitVo

In [17]:
def fetch_yelp_reviews(api_key, location='Berlin', term='restaurant', limit=50):
    headers = {'Authorization': f'Bearer {api_key}'}
    url = 'https://api.yelp.com/v3/businesses/search'
    params = {'location': location, 'term': term, 'limit': limit}
    response = requests.get(url, headers=headers, params=params).json()
    
    reviews_list = []
    for business in response['businesses']:
        reviews_list.append({
            'name': business['name'],
            'rating': business['rating'],
            'review_count': business['review_count'],
            'category': business['categories'][0]['title']
        })
    return pd.DataFrame(reviews_list)

ok so yelp only gives me 3 reviews per place... that's... not ideal for this project.

In [ ]:
HEADERS = {
    "User-Agent":
        "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) "
        "AppleWebKit/537.36 (KHTML, like Gecko) "
        "Chrome/124.0 Safari/537.36"
}


# ============================================================
# SEARCH FOR RESTAURANTS (YELP HTML, NOT API)
# ============================================================

def search_yelp_berlin(term="restaurants", pages=3) -> List[str]:
    """
    Scrape Yelp search results for Berlin.
    Returns a list of restaurant URLs.

    Parameters:
        term: search query ("restaurants", "cafes", "pizza", ...)
        pages: how many result pages to scrape (15â€“20 restaurants per page)

    Returns:
        list of restaurant page URLs
    """
    base_url = "https://www.yelp.com/search"
    urls = []

    for p in range(pages):
        params = {"find_desc": term, "find_loc": "Berlin", "start": p * 10}
        print(f"[INFO] Fetching search page {p+1}...")

        res = requests.get(base_url, headers=HEADERS, params=params)
        soup = BeautifulSoup(res.text, "html.parser")

        # Yelp URLs look like this: /biz/some-restaurant-berlin
        for link in soup.select("a.css-1k2tj2c"):
            href = link.get("href", "")
            if href.startswith("/biz/") and "?" not in href:
                full_url = "https://www.yelp.com" + href
                urls.append(full_url)

        time.sleep(random.uniform(1, 2))

    urls = list(dict.fromkeys(urls))  # deduplicate
    print(f"[INFO] Found {len(urls)} restaurant URLs.")
    return urls


# ============================================================
# PARSE INDIVIDUAL REVIEW BLOCK
# ============================================================

def parse_review_block(block) -> Dict:
    """
    Extracts review info from one review HTML block.
    """
    try:
        text = block.select_one("span.raw__09f24__T4Ezm").get_text(strip=True)
    except:
        text = ""

    try:
        rating_tag = block.select_one("div.i-stars__09f24__M1AR7")
        rating = float(rating_tag["aria-label"].split()[0])
    except:
        rating = None

    try:
        date = block.select_one("span.css-1e4fdj9").get_text(strip=True)
    except:
        date = None

    return {
        "review_text": text,
        "review_rating": rating,
        "review_date": date
    }


# ============================================================
# SCRAPE ALL REVIEWS FROM A RESTAURANT PAGE
# ============================================================

def scrape_restaurant_reviews(url: str, max_pages=20) -> List[Dict]:
    """
    Scrape multiple pages of Yelp reviews for a restaurant.

    Parameters:
        url: Yelp restaurant URL (e.g. "https://www.yelp.com/biz/...").
        max_pages: max number of pagination pages to follow.

    Returns:
        list of review dicts
    """
    print(f"[SCRAPE] {url}")
    reviews = []

    for p in range(max_pages):
        paged_url = f"{url}?start={p * 10}"

        res = requests.get(paged_url, headers=HEADERS)
        soup = BeautifulSoup(res.text, "html.parser")

        review_blocks = soup.select("div.review__09f24__oHr9V")

        if not review_blocks:
            break  # no more pages

        for block in review_blocks:
            rev = parse_review_block(block)
            rev["restaurant_url"] = url
            reviews.append(rev)

        time.sleep(random.uniform(1.0, 2.0))

    print(f"[DONE] {len(reviews)} reviews scraped.")
    return reviews


# ============================================================
# SCRAPE ALL RESTAURANTS + SAVE CLEAN DATASET
# ============================================================

def collect_berlin_reviews(term="restaurants", pages=3, max_review_pages=20):
    """
    Main pipeline:
    1) Find restaurant URLs through Yelp search
    2) Scrape all reviews from each restaurant
    3) Save raw + clean CSVs

    Returns:
        DataFrame with all reviews
    """
    urls = search_yelp_berlin(term=term, pages=pages)
    all_reviews = []

    for url in urls:
        try:
            reviews = scrape_restaurant_reviews(url, max_pages=max_review_pages)
            all_reviews.extend(reviews)
        except Exception as e:
            print(f"[ERR] Failed scraping {url}: {e}")
            continue

    df = pd.DataFrame(all_reviews)

    df["crawled_at"] = datetime.utcnow().isoformat()

    df.to_csv("data/raw/yelp_berlin_reviews_raw.csv", index=False)
    print("[SAVE] Raw dataset saved to data/raw/yelp_berlin_reviews_raw.csv")

    return df