# Exploring data about Belrin Restaurants and the respected Reviews

In [1]:
# Import libraries and packages
import numpy as np
import pandas as pd

# Machine Learning and Plotting
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.pyplot as plt

# Library to handle JSON files
import json
import requests

## Exploring berlin_reviews_2 csv dataset

In [2]:
berlin_reviews_2 = pd.read_csv('../data/raw/berlin_reviews_2.csv')

In [3]:
berlin_reviews_2

,title,url,cuisines,reviews,star rating,page number,data offset,restaurant,dates
0,1. Focaccino,https://www.tripadvisor.in/Restaurant_Review-g...,"Italian, Sicilian","[""The atmosphere is very classy yet cozy. The ...",4.5 of 5 bubbles,0,0,1,"['13 November 2023', '23 September 2023', '28 ..."
1,2. Cafe Couscous - Vege,https://www.tripadvisor.in/Restaurant_Review-g...,"Healthy, Mediterranean","[""The best wraps in Berlin period. I suggest g...",5.0 of 5 bubbles,0,0,2,"['25 October 2023', '10 August 2023', '9 June ..."
2,3. Hackethals,https://www.tripadvisor.in/Restaurant_Review-g...,"German, Bar",['I found this place on TripAdvisor and wanted...,4.5 of 5 bubbles,0,0,3,"['8 November 2023', '4 November 2023', '4 Nove..."
3,4. Restaurant Buschbeck's,https://www.tripadvisor.in/Restaurant_Review-g...,"German, European","[""As my wife is a coeliac I had to research pl...",5.0 of 5 bubbles,0,0,4,"['24 October 2023', '1 October 2023', '15 Augu..."
4,5. 100 Gramm Bar,https://www.tripadvisor.in/Restaurant_Review-g...,"Bar, Eastern European","['This place is amaizing! I loved the vibe, th...",5.0 of 5 bubbles,0,0,5,"['23 August 2023', '23 August 2023', '21 April..."
...,...,...,...,...,...,...,...,...,...
5785,6356. Bao Club,https://www.tripadvisor.in/Restaurant_Review-g...,"Chinese, Asian",NaN,NaN,211,6330,6356,NaN
5786,6357. Wurstkessel im KaDeWe,https://www.tripadvisor.in/Restaurant_Review-g...,"French, International",NaN,NaN,211,6330,6357,NaN
5787,6358. World of Champagne (Champagne Bar),https://www.tripadvisor.in/Restaurant_Review-g...,"French, Bar",NaN,NaN,211,6330,6358,NaN
5788,6359. Chibo,https://www.tripadvisor.in/Restaurant_Review-g...,NaN,NaN,NaN,211,6330,6359,NaN
5789,6360. Steckenpferd,https://www.tripadvisor.in/Restaurant_Review-g...,NaN,NaN,NaN,211,6330,6360,NaN

### Is it useable tho?
This Dataset has been updated 6 months ago! 
But seems like the reviews are still from late 2023 or older! 
Lets check if that's true!

In [28]:
# convert each list of date strings into actual datetime objects
dates = pd.DataFrame(berlin_reviews_2['dates'].apply(
    lambda lst: pd.to_datetime(lst, errors='coerce') if isinstance(lst, list) else lst
))

In [29]:
dates

                                                  dates
0     ['13 November 2023', '23 September 2023', '28 ...
1     ['25 October 2023', '10 August 2023', '9 June ...
2     ['8 November 2023', '4 November 2023', '4 Nove...
3     ['24 October 2023', '1 October 2023', '15 Augu...
4     ['23 August 2023', '23 August 2023', '21 April...
...                                                 ...
5785                                                NaN
5786                                                NaN
5787                                                NaN
5788                                                NaN
5789                                                NaN

[5790 rows x 1 columns]

In [30]:
latest_date = pd.DataFrame(dates.apply(
    lambda lst: max(lst) if isinstance(lst, list) else pd.NaT
))

In [31]:
latest_date

        0
dates NaT

In [33]:
earliest_date = pd.DataFrame(dates.apply(
    lambda lst: min(lst) if isinstance(lst, list) else pd.NaT
))

In [34]:
earliest_date

        0
dates NaT

In [35]:
berlin_reviews_2.sort_values('latest_date', ascending=False)
berlin_reviews_2.sort_values('earliest_date', ascending=True)
berlin_reviews_2['latest_date'].max()
berlin_reviews_2['earliest_date'].min()

KeyError: 'latest_date'

In [36]:
berlin_reviews_2['dates_parsed'] = berlin_reviews_2['dates'].apply(
    lambda lst: pd.to_datetime(lst, errors='coerce') if isinstance(lst, list) else lst
)
berlin_reviews_2

,title,url,cuisines,reviews,star rating,page number,data offset,restaurant,dates,dates_parsed
0,1. Focaccino,https://www.tripadvisor.in/Restaurant_Review-g...,"Italian, Sicilian","[""The atmosphere is very classy yet cozy. The ...",4.5 of 5 bubbles,0,0,1,"['13 November 2023', '23 September 2023', '28 ...","['13 November 2023', '23 September 2023', '28 ..."
1,2. Cafe Couscous - Vege,https://www.tripadvisor.in/Restaurant_Review-g...,"Healthy, Mediterranean","[""The best wraps in Berlin period. I suggest g...",5.0 of 5 bubbles,0,0,2,"['25 October 2023', '10 August 2023', '9 June ...","['25 October 2023', '10 August 2023', '9 June ..."
2,3. Hackethals,https://www.tripadvisor.in/Restaurant_Review-g...,"German, Bar",['I found this place on TripAdvisor and wanted...,4.5 of 5 bubbles,0,0,3,"['8 November 2023', '4 November 2023', '4 Nove...","['8 November 2023', '4 November 2023', '4 Nove..."
3,4. Restaurant Buschbeck's,https://www.tripadvisor.in/Restaurant_Review-g...,"German, European","[""As my wife is a coeliac I had to research pl...",5.0 of 5 bubbles,0,0,4,"['24 October 2023', '1 October 2023', '15 Augu...","['24 October 2023', '1 October 2023', '15 Augu..."
4,5. 100 Gramm Bar,https://www.tripadvisor.in/Restaurant_Review-g...,"Bar, Eastern European","['This place is amaizing! I loved the vibe, th...",5.0 of 5 bubbles,0,0,5,"['23 August 2023', '23 August 2023', '21 April...","['23 August 2023', '23 August 2023', '21 April..."
...,...,...,...,...,...,...,...,...,...,...
5785,6356. Bao Club,https://www.tripadvisor.in/Restaurant_Review-g...,"Chinese, Asian",NaN,NaN,211,6330,6356,NaN,NaN
5786,6357. Wurstkessel im KaDeWe,https://www.tripadvisor.in/Restaurant_Review-g...,"French, International",NaN,NaN,211,6330,6357,NaN,NaN
5787,6358. World of Champagne (Champagne Bar),https://www.tripadvisor.in/Restaurant_Review-g...,"French, Bar",NaN,NaN,211,6330,6358,NaN,NaN
5788,6359. Chibo,https://www.tripadvisor.in/Restaurant_Review-g...,NaN,NaN,NaN,211,6330,6359,NaN,NaN
5789,6360. Steckenpferd,https://www.tripadvisor.in/Restaurant_Review-g...,NaN,NaN,NaN,211,6330,6360,NaN,NaN

In [38]:
berlin_reviews_2.dtypes

title           object
url             object
cuisines        object
reviews         object
star rating     object
page number      int64
data offset      int64
restaurant       int64
dates           object
dates_parsed    object
dtype: object