# Exploring data about Belrin Restaurants and the respected Reviews

In [1]:
# Import libraries and packages
import numpy as np
import pandas as pd

# Machine Learning and Plotting
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.pyplot as plt

# Library to handle JSON files
import json
import requests

## Exploring berlin_reviews_2 csv dataset

In [2]:
berlin_reviews_2 = pd.read_csv('../data/raw/berlin_reviews_2.csv')

In [3]:
berlin_reviews_2

,title,url,cuisines,reviews,star rating,page number,data offset,restaurant,dates
0,1. Focaccino,https://www.tripadvisor.in/Restaurant_Review-g...,"Italian, Sicilian","[""The atmosphere is very classy yet cozy. The ...",4.5 of 5 bubbles,0,0,1,"['13 November 2023', '23 September 2023', '28 ..."
1,2. Cafe Couscous - Vege,https://www.tripadvisor.in/Restaurant_Review-g...,"Healthy, Mediterranean","[""The best wraps in Berlin period. I suggest g...",5.0 of 5 bubbles,0,0,2,"['25 October 2023', '10 August 2023', '9 June ..."
2,3. Hackethals,https://www.tripadvisor.in/Restaurant_Review-g...,"German, Bar",['I found this place on TripAdvisor and wanted...,4.5 of 5 bubbles,0,0,3,"['8 November 2023', '4 November 2023', '4 Nove..."
3,4. Restaurant Buschbeck's,https://www.tripadvisor.in/Restaurant_Review-g...,"German, European","[""As my wife is a coeliac I had to research pl...",5.0 of 5 bubbles,0,0,4,"['24 October 2023', '1 October 2023', '15 Augu..."
4,5. 100 Gramm Bar,https://www.tripadvisor.in/Restaurant_Review-g...,"Bar, Eastern European","['This place is amaizing! I loved the vibe, th...",5.0 of 5 bubbles,0,0,5,"['23 August 2023', '23 August 2023', '21 April..."
...,...,...,...,...,...,...,...,...,...
5785,6356. Bao Club,https://www.tripadvisor.in/Restaurant_Review-g...,"Chinese, Asian",NaN,NaN,211,6330,6356,NaN
5786,6357. Wurstkessel im KaDeWe,https://www.tripadvisor.in/Restaurant_Review-g...,"French, International",NaN,NaN,211,6330,6357,NaN
5787,6358. World of Champagne (Champagne Bar),https://www.tripadvisor.in/Restaurant_Review-g...,"French, Bar",NaN,NaN,211,6330,6358,NaN
5788,6359. Chibo,https://www.tripadvisor.in/Restaurant_Review-g...,NaN,NaN,NaN,211,6330,6359,NaN
5789,6360. Steckenpferd,https://www.tripadvisor.in/Restaurant_Review-g...,NaN,NaN,NaN,211,6330,6360,NaN

### Is it useable tho?
This Dataset has been updated 6 months ago! 
But seems like the reviews are still from late 2023 or older! 
Lets check if that's true!

In [9]:
# convert each list of date strings into actual datetime objects
dates = pd.DataFrame(berlin_reviews_2['dates'].apply(
    lambda lst: pd.to_datetime(lst, errors='coerce') if isinstance(lst, list) else lst
))

In [10]:
dates

                                                  dates
0     ['13 November 2023', '23 September 2023', '28 ...
1     ['25 October 2023', '10 August 2023', '9 June ...
2     ['8 November 2023', '4 November 2023', '4 Nove...
3     ['24 October 2023', '1 October 2023', '15 Augu...
4     ['23 August 2023', '23 August 2023', '21 April...
...                                                 ...
5785                                                NaN
5786                                                NaN
5787                                                NaN
5788                                                NaN
5789                                                NaN

[5790 rows x 1 columns]

In [29]:
print(type(dates.iloc[0][0]))
print(dates.iloc[0][0])

<class 'str'>
['13 November 2023', '23 September 2023', '28 August 2023', '11 August 2023', '8 August 2023', '1 August 2023', '1 July 2023', '10 June 2023', '14 May 2023', '10 May 2023', '11 April 2023', '31 January 2023', '13 January 2023', '28 December 2022', '4 December 2022', '22 June 2022', '16 May 2022', '11 May 2022', '10 February 2022', '9 February 2022', '11 August 2021', '3 September 2020', '24 July 2020', '3 January 2020', '26 December 2019', '9 October 2019', '1 October 2019', '28 September 2019', '14 June 2019', '3 May 2019', '15 April 2019', '15 April 2019', '28 March 2019', '18 March 2019', '13 March 2019', '5 December 2018', '22 November 2018', '21 November 2018', '27 October 2018', '26 October 2018', '23 October 2018', '23 October 2018', '23 October 2018', '5 October 2018', '24 September 2018', '5 September 2018', '4 September 2018', '4 September 2018', '21 August 2018', '13 August 2018', '4 July 2018', '12 June 2018', '4 June 2018', '19 May 2018', '19 May 2018', '18 May 2018', '9 May 2018', '3 May 2018', '2 May 2018', '2 May 2018', '1 May 2018', '1 May 2018', '30 April 2018', '15 March 2018', '11 March 2018', '3 March 2018', '22 January 2018', '22 January 2018', '15 January 2018', '19 December 2017', '14 December 2017', '6 December 2017', '19 November 2017', '17 November 2017', '12 November 2017', '22 October 2017', '21 October 2017', '6 October 2017', '27 September 2017', '28 August 2017', '23 August 2017', '13 August 2017', '18 June 2017', '7 June 2017', '18 May 2017', '8 May 2017', '23 April 2017', '23 April 2017', '15 April 2017', '14 April 2017', '12 April 2017', '11 April 2017', '9 April 2017', '3 April 2017', '29 March 2017', '23 March 2017', '8 March 2017', '21 February 2017', '19 February 2017', '15 February 2017', '28 January 2017', '25 January 2017', '22 January 2017', '19 January 2017', '9 January 2017', '20 December 2016', '13 December 2016', '11 December 2016', '5 December 2016', '1 December 2016', '22 November 2016', '18 November 2016', '16 November 2016', '12 November 2016', '2 November 2016', '1 November 2016', '29 October 2016', '27 October 2016', '23 October 2016', '22 October 2016', '20 October 2016', '7 October 2016', '29 September 2016', '28 September 2016', '22 September 2016', '13 September 2016', '11 August 2016', '29 July 2016', '28 July 2016', '25 July 2016', '25 July 2016', '22 July 2016', '21 July 2016', '21 July 2016', '20 July 2016', '20 July 2016', '18 July 2016', '15 July 2016', '14 July 2016', '13 July 2016', '11 July 2016', '2 July 2016', '28 June 2016', '26 June 2016', '21 June 2016', '15 June 2016', '29 May 2016', '29 May 2016', '25 May 2016', '24 May 2016', '23 May 2016', '22 May 2016', '21 May 2016', '18 May 2016', '18 May 2016', '17 May 2016', '29 April 2016', '27 April 2016', '26 April 2016', '30 March 2016', '27 March 2016', '6 March 2016', '5 March 2016', '17 February 2016', '9 February 2016', '7 November 2015', '30 October 2015', '29 October 2015', '19 October 2015', '13 October 2015', '13 October 2015', '10 October 2015', '8 October 2015', '30 September 2015', '29 September 2015', '22 September 2015', '20 September 2015', '16 September 2015', '13 September 2015', '12 September 2015', '11 September 2015', '6 September 2015', '31 August 2015', '24 August 2015', '22 August 2015', '20 August 2015', '19 August 2015', '15 August 2015', '13 August 2015', '19 July 2015', '14 July 2015', '4 July 2015', '15 June 2015', '10 June 2015', '25 May 2015', '24 April 2015', '27 March 2015', '21 March 2015', '5 March 2015', '28 February 2015', '25 February 2015', '22 February 2015', '11 February 2015', '30 January 2015', '5 December 2014', '29 September 2014', '26 September 2014', '10 September 2014', '23 June 2014', '12 December 2013', '11 October 2013', '30 July 2013', '12 July 2012', '28 May 2012', '13 February 2012', '14 January 2012', '19 August 2011', '13 November 2023', '23 September 2023', '28 August 2023', '11 August 2023', '8 August 2023', '1 August 2023', '1 July 2023', '10 June 2023', '14 May 2023', '10 May 2023', '11 April 2023', '31 January 2023', '13 January 2023', '28 December 2022', '4 December 2022']

/tmp/ipykernel_1270/24747048.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(type(dates.iloc[0][0]))
/tmp/ipykernel_1270/24747048.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(dates.iloc[0][0])

Look above, weird behavior is noticed.. the first dates match the last dates... looks like some dates repeated... why?!
Let's check some other rows!

In [31]:
print(dates.iloc[1][0])

['25 October 2023', '10 August 2023', '9 June 2023', '18 April 2023', '12 March 2023', '10 February 2023', '7 February 2023', '21 January 2023', '6 January 2023', '10 December 2022', '14 September 2022', '16 June 2022', '3 June 2022', '4 March 2022', '24 June 2021', '17 April 2021', '31 July 2020', '21 December 2019', '21 August 2019', '20 August 2019', '14 August 2019', '4 July 2019', '14 June 2019', '13 June 2019', '7 June 2019', '4 June 2019', '1 June 2019', '24 May 2019', '11 May 2019', '31 January 2019', '8 January 2019', '5 December 2018', '29 November 2018', '16 November 2018', '9 November 2018', '9 November 2018', '24 October 2018', '24 October 2018', '18 October 2018', '15 October 2018', '25 August 2018', '25 July 2018', '7 April 2018', '15 July 2017', '5 September 2016', '29 May 2016', '6 March 2016', '25 October 2023', '10 August 2023', '9 June 2023', '18 April 2023', '12 March 2023', '10 February 2023', '7 February 2023', '21 January 2023', '6 January 2023', '10 December 2022', '14 September 2022', '16 June 2022', '3 June 2022', '4 March 2022', '24 June 2021']

/tmp/ipykernel_1270/433023448.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(dates.iloc[1][0])

AGAIN!! We have EXACTLY 15 first dates matching the 15 last dates... that's a problem! Have i caused it? or the dataset has been like that since the beginning??

In [30]:
latest_date = pd.DataFrame(dates.apply(
    lambda lst: max(lst) if isinstance(lst, list) else pd.NaT
))

In [31]:
latest_date

        0
dates NaT

In [33]:
earliest_date = pd.DataFrame(dates.apply(
    lambda lst: min(lst) if isinstance(lst, list) else pd.NaT
))

In [34]:
earliest_date

        0
dates NaT

In [35]:
berlin_reviews_2.sort_values('latest_date', ascending=False)
berlin_reviews_2.sort_values('earliest_date', ascending=True)
berlin_reviews_2['latest_date'].max()
berlin_reviews_2['earliest_date'].min()

KeyError: 'latest_date'

In [36]:
berlin_reviews_2['dates_parsed'] = berlin_reviews_2['dates'].apply(
    lambda lst: pd.to_datetime(lst, errors='coerce') if isinstance(lst, list) else lst
)
berlin_reviews_2

,title,url,cuisines,reviews,star rating,page number,data offset,restaurant,dates,dates_parsed
0,1. Focaccino,https://www.tripadvisor.in/Restaurant_Review-g...,"Italian, Sicilian","[""The atmosphere is very classy yet cozy. The ...",4.5 of 5 bubbles,0,0,1,"['13 November 2023', '23 September 2023', '28 ...","['13 November 2023', '23 September 2023', '28 ..."
1,2. Cafe Couscous - Vege,https://www.tripadvisor.in/Restaurant_Review-g...,"Healthy, Mediterranean","[""The best wraps in Berlin period. I suggest g...",5.0 of 5 bubbles,0,0,2,"['25 October 2023', '10 August 2023', '9 June ...","['25 October 2023', '10 August 2023', '9 June ..."
2,3. Hackethals,https://www.tripadvisor.in/Restaurant_Review-g...,"German, Bar",['I found this place on TripAdvisor and wanted...,4.5 of 5 bubbles,0,0,3,"['8 November 2023', '4 November 2023', '4 Nove...","['8 November 2023', '4 November 2023', '4 Nove..."
3,4. Restaurant Buschbeck's,https://www.tripadvisor.in/Restaurant_Review-g...,"German, European","[""As my wife is a coeliac I had to research pl...",5.0 of 5 bubbles,0,0,4,"['24 October 2023', '1 October 2023', '15 Augu...","['24 October 2023', '1 October 2023', '15 Augu..."
4,5. 100 Gramm Bar,https://www.tripadvisor.in/Restaurant_Review-g...,"Bar, Eastern European","['This place is amaizing! I loved the vibe, th...",5.0 of 5 bubbles,0,0,5,"['23 August 2023', '23 August 2023', '21 April...","['23 August 2023', '23 August 2023', '21 April..."
...,...,...,...,...,...,...,...,...,...,...
5785,6356. Bao Club,https://www.tripadvisor.in/Restaurant_Review-g...,"Chinese, Asian",NaN,NaN,211,6330,6356,NaN,NaN
5786,6357. Wurstkessel im KaDeWe,https://www.tripadvisor.in/Restaurant_Review-g...,"French, International",NaN,NaN,211,6330,6357,NaN,NaN
5787,6358. World of Champagne (Champagne Bar),https://www.tripadvisor.in/Restaurant_Review-g...,"French, Bar",NaN,NaN,211,6330,6358,NaN,NaN
5788,6359. Chibo,https://www.tripadvisor.in/Restaurant_Review-g...,NaN,NaN,NaN,211,6330,6359,NaN,NaN
5789,6360. Steckenpferd,https://www.tripadvisor.in/Restaurant_Review-g...,NaN,NaN,NaN,211,6330,6360,NaN,NaN

In [38]:
berlin_reviews_2.dtypes

title           object
url             object
cuisines        object
reviews         object
star rating     object
page number      int64
data offset      int64
restaurant       int64
dates           object
dates_parsed    object
dtype: object